**/*/logs/*
**/*/.cache/*
**/*/world/**/*.json
**/*/world/**/*.dat*
**/*/usercache.json

secrets.env
.envrc
secrets.yaml

# aqua
.aqua/

# Terragrunt
**/.terragrunt-cache/
**/backend.tf
**/provider.tf

node_modules

# Python
__pycache__/
*.py[cod]
*$py.class

# Trivy cache
.trivycache/